CompileFlags:
    Add:
        - "--target=x86_64-w64-windows-gnu"
        # - "--sysroot=/usr/x86_64-w64-mingw32"
        # - "-I/usr/x86_64-w64-mingw32/include"
        # - "-I/usr/lib/gcc/x86_64-w64-mingw32/11.4.0/include"
        # - "-I/usr/lib/gcc/x86_64-w64-mingw32/11.4.0/include/c++"
        # - "-I/usr/lib/gcc/x86_64-w64-mingw32/11.4.0/include/c++/x86_64-w64-mingw32"
        - "-I../include"
        - "-I../src"

FallbackFlags:
    - "-std=c11"
    - "-Wall"
    - "-Wextra"
    - "-Werror"

Diagnostics:
    ClangTidy:
        Add:
            - modernize-use-nullptr

